html, body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background: #003049;
  height: 100vh;
}

.grid-container {
  display: flex;  
  justify-content:center;
  align-items: center;
}
.grid {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-gap: 0;
  background: #00263a;
}

.cell {
  display: flex;
}

.cell-border {
  border: 1px solid #001b29;
}

.cell-snake {
  background-color: grey;
}

.cell-food {
  background-color: red
}

.cell-head {
  background-color: yellow
}

.message {
  font-family: 'Courier';
  color: #eae2b7;
  margin-bottom: 16px;
}
