html, body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background: #3f0064;
  height: 100vh;
}

.grid-container {
  display: flex;  
  justify-content:center;
  align-items: center;
}
.grid {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 0;
  background: #6930C3;
  position: relative;
  box-shadow: 0 5px 3000px #80FFDB;
}

.cell {
  display: flex;
}

.cell-border {
  border: 1px solid #5E60CE;
}

.cell-snake {
  position: relative;
  z-index: 10;
  background: rgb(128,255,219);
  background: linear-gradient(270deg, rgba(128,255,219,1) 0%, rgba(0,212,255,1) 100%);
}

.cell-food {
  background-color: red;
  z-index: 1;
}

.cell-head {
  position: relative;
  z-index: 10;
  background-color: #80FFDB;
}

.message {
  font-family: 'Courier';
  color: #eae2b7;
  margin-bottom: 16px;
}
